<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.docktalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.quickblox.sample.chat.java.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity android:name=".AnotherTestFunctionActivity"></activity>-->
         <activity android:name=".consult_activities.OverviewRequestConsultActivity"
            android:theme="@style/AppThemeApp"/>
        <activity
            android:name=".consult_activities.SecondQuestionRequestConsultActivity"
            android:theme="@style/AppThemeApp" />
        <activity
            android:name=".consult_activities.FirstQuestionRequestConsultActivity"
            android:theme="@style/AppThemeApp" />
        <!--<activity-->
            <!--android:name=".login_signup_activities.LoginActivity"-->
            <!--android:theme="@style/AppThemeFullScreen" />-->
        <activity android:name=".consult_activities.PostingRequestConsultActivity"
            android:theme="@style/AppThemeApp"/>
        <activity
            android:name=".login_signup_activities.SignupActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".login_signup_activities.PhoneNumberConfirmActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".login_signup_activities.RegisterDoctorActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".login_signup_activities.RegisterDoctorDetailActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".app_activities.FirebaseUploadDemo"
            android:theme="@style/AppThemeApp" />
        <activity
            android:name=".login_signup_activities.RegisterPatientActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".login_signup_activities.AddingDoctorProfessionalActivity"
            android:theme="@style/AppThemeApp" />
        <activity
            android:name=".app_activities.MainActivity"
            android:theme="@style/AppThemeApp" />
        <activity
            android:name=".login_signup_activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>